#heart {
    position: relative;
    width: 100px;
    height: 90px;
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  #star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
  }
  #star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
  }
  #circle
  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blueviolet;
  }
  .square {
    width: 80px;
    height: 80px;
    background: orange;
  }.square {
    width: 80px;
    height: 80px;
    background: orange;
  }
  .crescent {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    box-shadow: inset -12px 5px 0 3px orange;
    border-radius: 50%;
  }.crescent {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    box-shadow: inset -12px 5px 0 3px orange;
    border-radius: 50%;
  }